/* Import Poppin (Regular 400, Medium 500, SemiBold 600, Bold 700) and Ubuntu (Regular 400, Medium 500, Bold 700) font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: crimson;
    --secondary-color: #111;
    --grey-color: #222;
    --light-color: #333;
    --font-family_ubuntu: 'Ubuntu', sans-serif;
    --font-family_poppins: 'Poppins', sans-serif;
    --font-family-normal: var(--font-family_ubuntu);
}

.scroll-up-btn {
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 9999;
    font-size: 30px;
    padding: 0;
    height: 45px;
    width: 45px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.nav {
    position: fixed;
    transition: all .3s ease;
}

.nav .nav-brand {
    transition: all .3s ease;
}

.nav.sticky {
    background-color: var(--primary-color);
}

.nav.sticky .nav-brand span {
    color: var(--white-color) !important;
}

.nav .container .nav-link-right .nav-item a {
    font-size: 18px;
    font-weight: 600;
    transition: color .3s ease;
}

.nav:not(.sticky) .nav-item a:hover {
    color: var(--primary-color) !important;
}

.home {
    display: flex;
    background: url("https://images.unsplash.com/photo-1566076832046-79a231fb62b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1491&q=80") no-repeat center;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
}

.home .home-content h1 {
    margin-left: -3px;
}

section {
    padding: 100px 0;
}

.custom-title  {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 40px;
    width: max-content;
    margin: auto;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.custom-subtitle, .custom-title::before  {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.custom-subtitle {
    display: inline-flex;
    font-size: 20px;
    bottom: -8px;
    padding: 0 4px;
    width: max-content;
}

.custom-title::before {
    content: "";
    bottom: 0;
    width: 180px;
    height: 3px;
    background-color: var(--var-text-color);
}

.about-content,
.service-content,
.skills-content,
.teams-content,
.contact-content,
footer {
    font-family: var(--font-family_poppins);
}

.about-content img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.service-content .card,
.teams-content .card {
    cursor: pointer;
    transition: all .3s ease;
}

.service-content .card .card-item,
.teams-content .card .card-item {
    transition: all .3s ease;
}

.service-content .card .card-item i,
.teams-content .card .card-item i {
    font-size: 50px;
    transition: color .3s ease;
}

.service-content .card:hover .card-item,
.teams-content .card:hover .card-item {
    transform: scale(1.05);
}

.service-content .card:hover .card-item i,
.teams-content .card:hover .card-item i {
    color: var(--white-color) !important;
}

.service-content .card:hover,
.teams-content .card:hover {
    background-color: var(--primary-color) !important;
}

.teams-content img {
    height: 150px !important;
    width: 150px !important;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
    transition: all .3s ease;
}

.teams-content .card:hover img {
    border-color: var(--white-color);
}

.contact-content .icons i {
    font-size: 25px;
}

.contact-content textarea {
    resize: none;
}
